---
permalink: /
title: Home
---


<h1 class="text-4xl mb-9 font-extrabold text-center hidden">All Posts</h1>


{% assign all_categories = "" | split: "" %}
{% for recipe in site.recipes %}
  {% for category in recipe.categories %}
    {% unless all_categories contains category %}
      {% assign all_categories = all_categories | push: category %}
    {% endunless %}
  {% endfor %}
{% endfor %}


{% for category in all_categories %}

  <!-- Category -->
  <div class="px-6 mb-16">
    <h2 class="text-3xl mb-9 font-extrabold text-center">
      <a id="{{ category }}"></a>
      {{ category }}</h2>
    <!-- Recipe List -->
    <div class="recipe-list grid md:grid-cols-2 xl:grid-cols-3 gap-9">
      {% for recipe in site.recipes %}
        {% if recipe.categories contains category %}
          {% include _recipe_card.liquid recipe=recipe %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endfor %}