<!-- Footer -->
<footer class="px-10 py-6 mb-0 text-xs text-center text-gray-500 border-t bg-gray-50 border-t-gray-100">
  <a href="{% link _pages/about.liquid %}" class="underline">About</a>
  {{ site.title }}, {{ site.description }} Made in 🇸🇬 with love.              
  Copyright {{ "now" | date: "%Y" }}.
</footer>