<header>
  <nav>
    <div class="">
      <a href="/" class="{% if page.slug == "index" %}font-bold{% endif %}">Home</a>
      <a href="/recipes" class="{% if page.slug == "recipes" or page.layout == "recipe" %}font-bold{% endif %}">Recipes</a>
      <a href="/about" class="{% if page.slug == "about" %}font-bold{% endif %}">About</a>
    </div>
  </nav>
</header>