<!-- Header -->
<header class="py-9 max-w-7xl mx-auto text-center">
  <!-- Logo -->
  <a href="{{site.baseurl}}/" class="block">
    <div class="flex justify-center mb-1">
      <img
        src="/assets/images/logo-light.svg"
        alt="{{ site.title }}"
        class="w-36"
        width="144"
        height="52" />
    </div>
  </a>
  <p class="text-lg px-6">{{ site.description }}</p>
</header>