---
layout: default
---
<!--  Content -->
<div class="max-w-2xl mx-auto prose prose-lg prose-em:text-sm prose-em:leading-snug text-neutral-900 prose-pink prose-a:font-normal px-5 prose-img:mb-0 mb-12">
  <%= yield %>
</div>
