<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">

    <meta charset="utf-8" />
    {% seo %}


    {% if jekyll.environment == "production" %}
      <script async src="https://plausible.io/js/pa-q81W8YnL9tT7mR_bQnJhL.js"></script>
      <script>
          window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
          plausible.init()
      </script>
    {% endif %}

  </head>
  <body class="antialiased bg-white text-gray-800 flex flex-col min-h-screen">
    {% include header.liquid %}
    <!-- Main -->
    <main class=" max-w-7xl mx-auto grow">
      {{ content }}
    </main>
    {% include footer.liquid %}
  </body>
</html>