/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .instructions ol {
    counter-reset: item;
  }
  .instructions ol li:before {
    white-space: pre;
    @apply font-bold;
    content: "Step " counter(item) "\A";
    counter-increment: item;
  }
}

@layer utilities {
  .font-heading {
    /* @apply font-bold; */
  }
}
