<!-- Footer -->
<footer class="px-10 py-6 text-xs mb-0 bg-gray-50 text-gray-500 border border-t-gray-100 text-center">
  <a href="/about" class="underline">About Forage</a>: <%= site.metadata.description %> Born in Singapore, growing up Switzerland. 
  Copyright <%= Time.now.year %>. 
</footer>
