<header class="p-12">
  <!-- Logo -->
  <div class="text-4xl font-heading text-center flex space-x-2 justify-center">
    <a href="/" class="">
      <span class=""><%= site.metadata.title %></span>. 
      <span class=""><%= site.metadata.description %></span>
    </a>
  </div>
  <!-- Navigation -->
  <%# <nav class="hidden sm:block">
    <ul class="flex space-x-4 uppercase justify-center">
      <li><a href="/">Home</a></li>
    </ul>
  </nav> %>
</header>
