<header class="">
  <!-- Logo -->
  <div class="p-10 max-w-7xl mx-auto text-center">
    <a href="/" class="">
      <div class="flex justify-center mb-2">
        <img src="/images/logo-bold.svg" alt="<%= site.metadata.title %>" class="w-36" />
      </div>
      <div class=""><%= site.metadata.description %></div>
    </a>
  </div>
  <!-- Navigation -->
  <%# <nav class="hidden sm:block">
    <ul class="flex space-x-4 uppercase justify-center">
      <li><a href="/">Home</a></li>
    </ul>
  </nav> %>
</header>
