<header class="p-5 bg-white">
  <!-- Logo -->
  <div class="font-bold uppercase text-xl font-heading text-center flex space-x-2 justify-center">
    <a href="/">
      <span class="">F</span>
      <span class="">o</span>
      <span class="">r</span>
      <span class="">a</span>
      <span class="">g</span>
      <span class="">e</span>
    </a>
  </div>
  <!-- Navigation -->
  <%# <nav class="hidden sm:block">
    <ul class="flex space-x-4 uppercase justify-center">
      <li><a href="/">Home</a></li>
    </ul>
  </nav> %>
</header>
