    <!-- Header -->
<header class="py-9 max-w-7xl mx-auto text-center">
  <!-- Logo -->
  <a href="/" class="block">
    <div class="flex justify-center mb-1">
      <img src="/images/logo-light.svg" alt="<%= site.metadata.title %>" class="w-36" width="144" height="52" />
    </div>
  </a>
  <p class="text-lg px-6">
    <%= site.metadata.description %>
  </p>
</header>
