<div class="recipe-details sm:flex sm:max-w-2xl sm:mx-auto mb-12">
  <div class="ingredients mb-12 sm:mb-0 sm:pr-6 sm:mr-6">
    <h2>Ingredients</h2>
    <ul class="pl-0">
      <% data.ingredients.each do |ingredient|%>
        <li class="list-none pl-0"> <%= ingredient %></li>
      <% end%>
    </ul>
  </div>
  <div class="instructions">
    <h2>Instructions</h2>
    <ol class="list-none pl-0">
      <% data.instructions.each do |instruction|%>
        <li class="pl-0"> <%= instruction %></li>
      <% end%>
    </ol>
  </div>
</div>
