<article class="recipe-card w-full">
  <a href="<%= recipe.relative_url %>">
    <!-- Feature Image -->
    <img class="w-full" 
          src="/images/recipes/<%= recipe.data.slug %>.jpeg" 
          alt="" 
          loading="lazy" />
    <div class="py-3">
      <h3 class="font-extrabold font-heading text-lg"><%= recipe.data.title %></h3>
      <p class="tagline text-sm pb-2"><%= recipe.data.description %></p>
    </div>
  </a>
</article>
